.menu {
  @apply flex justify-center items-center shadow-md rounded-full h-12;
  @include ease-out;
  // max-width: 3rem;
  z-index: 1000;
  background: #fff;
  padding: 0.5rem 1rem;

  .menu-btn {
    @include ease-out;
    cursor: pointer;

    .btn-line {
      @include btn-line;
    }
  }
}

.fullscreen-menu-container {
  @include ease-out;
  background-color: rgba($secondary-80, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1000;

  &.is-active {
    @include ease-out;
    transition-delay: $transition-length-default;
    opacity: 1;
    z-index: 2000;
  }

  @at-root #{&}__menu {
    @apply bg-secondary-20;
    @include ease-out;
    transition-delay: $transition-length-default;
    position: fixed;
    width: 100%;
    height: 100vh;
    transform: translatex(100%);

    @include screen-sm {
      width: 50%;
    }

    &.is-active {
      @include ease-out;
      transform: translateX(0);
    }
  }

  @at-root #{&}__link {
    @apply font-serif text-2xl text-secondary-80;
  }

  @at-root #{&}__menu-btn {
    .btn-line {
      @include btn-line;

      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      //Line 3 - Rotate
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
}
