.menu {
  @apply flex justify-center items-center shadow-md rounded-full h-12;
  @include ease-out;
  z-index: 1000;
  background: #fff;
  padding: 0.5rem 1rem;

  .menu-btn {
    @include ease-out;
    cursor: pointer;

    .btn-line {
      @include btn-line;
    }
  }
}

// Menu overlay
.fullscreen-menu-overlay {
  @include screen-sm {
    background-color: rgba($secondary-80, 0.8);
    @include ease-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    opacity: 0;
    transform: translateX(-100%);
  }

  &.is-menu-open {
    @include ease-out;
    opacity: 1;
    transform: translateX(0);
  }
}

// Menu
.fullscreen-menu {
  @apply bg-secondary-20;
  @include ease-out;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  z-index: 2000;

  @include screen-sm {
    width: 50%;
  }

  &.is-active {
    @include ease-out;
    transform: translateX(0);
  }

  &__menu-btn {
    .btn-line {
      @include btn-line;

      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      //Line 3 - Rotate
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }

  .btn-light-social {
    i {
      @apply text-2xl;
    }
  }
}
